#tooltip.hidden
{
    display:none;
}

#tooltip
{
    background-image: none;
    position:absolute;
    width:auto;
    height: auto;
    background-color:white;
    border: 1px ridge aquamarine;
    border-radius:5px;
    padding-top: -10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
}

body{
    background-color: #fbfbfb
}
#action-body{
    background-image: url("renew-bg2.jpeg")
}

div{
    
    width: 440;
    height: 240;
}
.intro{
    width: 359;
    height: 240;
    background-color: #E8E8E8;
    border: 2px solid #73AD21;
    border-radius: 10px;
}
.elec-renew{
    margin-right: 10px;
    float:right
}
.elec-major{
    margin-right: 5px;
    float:right
}
.us-potential{
    width: 700px;
    height: 350px;
    margin-right: 45px;
    margin-top: -27px;
    float: right
}
.avg-cost{
    margin-top: 14px;
    width: 500px;
    height: 120px;
    float:left
}
.solar-cost{
    margin-top: 89px;
    width: 500px;
    height: 120px;
    float:left
}
.button{
    width: 200;
    height: 100;
    background-image: none;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
svg{
    width: 440;
    height: 240;
    background-color: #E8E8E8;
    border: 2px solid #73AD21;
    border-radius: 10px;
}
#homepage{
    width: 300px;
    height: 35px;
    float: left;
    padding-left: 5%;
    margin-top: -15px;
}
#title{
    width: 300px;
    height: 35px;
    align-content: center;
    padding-left: 40%
}
#core-fact{
    width:807px;
    height:30px;
    float:left;
    
}
#action{
    width: 300px;
    height: 35px;
    float: right;
    margin-right: -100;
    margin-top: -15px;
}
#us-potential{
    width: 700;
    height: 400;
    margin: 40px;
}
#avg-cost{
    width: 545px;
    height: 190px;
}
#solar-cost{
    width: 545px;
    height: 190px;
}